.register-container {
  width: 700px;
  border-radius: 22px;
  border: 5px solid #70f879;
  /* Borde inicial */
  padding: 20px;
  animation: border-color-change 1s infinite alternate;
  /* Animación de cambio de color */
  margin-top: 70px;
  margin-left: 25%;
}

@keyframes border-color-change {
  0% {
      border-color: #cfac3a;
      /* Color de borde inicial */
  }
  50% {
      border-color: #40e3e6;
      /* Color de borde intermedio */
  }
  100% {
      border-color: #c09bfc;
      /* Color de borde final */
  }
}


/* Estilos para la tarjeta de registro */

.register-card {
  width: 700px;
  padding: 20px;
  background-color: #fff;
  /* Fondo blanco */
  border-radius: 10px;
  /* Bordes redondeados */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  /* Sombra ligera */
}


/* Estilos para los mensajes de error */

.error-message {
  color: red;
  margin-top: 10px;
}


/* Estilos para el botón de retroceso */

.back-button {
  position: absolute;
  bottom: 70px;
  left: 20px;
  color: #fefdff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #22e5ec;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #f3f2f4;
  margin-left: 70px;
}

.back-button:hover {
  background-color: #cf70f8;
}

.username {
  width: 70%;
  margin-bottom: 7px;
  margin-left: 110px;
  background-color: #ccb8ef;
  height: 55px;
  border-radius: 7px;
  margin-top: 17px;
}

.email {
  width: 70%;
  margin-bottom: 7px;
  margin-left: 110px;
  background-color: #b8efd7;
  height: 55px;
  border-radius: 7px;
  margin-top: 7px;
}

.password {
  width: 70%;
  margin-bottom: 7px;
  margin-left: 110px;
  background-color: #efecb8;
  border-radius: 7px;
  height: 55px;
  margin-top: 7px;
}

.confirmPassword {
  width: 70%;
  margin-bottom: 7px;
  margin-left: 110px;
  background-color: #efb8d2;
  height: 55px;
  border-radius: 7px;
  margin-top: 7px;
}

button[mat-raised-button] {
  display: block;
  margin: 20px auto;
  font-size: 1rem;
  padding: 10px 20px;
  background-color: #ce138a;
  color: #ffffff;
  margin-top: 20px;
}

button[mat-raised-button][color="primary"]:hover {
  background-color: #1bd8cf;
}