<div class="login-container" [@fadeInAnimation]>
  <mat-card>
      <mat-card-header style="background-color: rgb(233, 91, 157);" class="center-header">
          <mat-card-title style="font-family:'Franklin Gothic Medium'; color: aliceblue;">Start to Speak Now</mat-card-title>
      </mat-card-header>


      <mat-card-content style="background-color: aliceblue;">
          <div *ngIf="isLoading">

              <!-- Animación de carga -->
              <mat-progress-spinner diameter="40" mode="indeterminate"></mat-progress-spinner>
          </div>
          <div *ngIf="!isLoading; else formContent" class="form-content">

              <!-- Formulario de inicio de sesión -->
              <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
                  <mat-form-field appearance="outline" class="email-field">
                      <mat-label style="color: black;">Email</mat-label>
                      <input matInput formControlName="email" type="email" placeholder="Enter your email" style="color: black; background-color:  #efdfb8;">

                      <mat-icon style="color: rgb(202, 21, 172);" matSuffix>email</mat-icon>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="password-field">
                      <mat-label style="color: black;">Password</mat-label>
                      <input matInput formControlName="password" type="password" placeholder="Enter your password" style="color:black; background-color: #b8efd7;">

                      <mat-icon style="color: rgb(55, 102, 203);" matSuffix>lock</mat-icon>
                  </mat-form-field>

                  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
                  <button mat-raised-button color="primary" type="submit">Log In</button>
                  <button mat-raised-button color="accent" (click)="forgotPassword()">Forgot Password?</button>
              </form>
          </div>
      </mat-card-content>
  </mat-card>
</div>

<button mat-icon-button class="back-button" (click)="goBack()">
<mat-icon>arrow_back</mat-icon>
</button>

<ng-template #formContent></ng-template>